# Python cache
__pycache__/
*.pyc

# Python virtual environments
venv/
env/
.virtualenv/
.venv/

# Environment variables
.env

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# IDE files
.vscode/
.idea/

# macOS files
.DS_Store

# Logs
*.log

# Misc
*.sqlite3
*.db
